server:
  port: 8080

spring:
  application:
    name: "accounts"

  profiles:
    active: "prod"

  datasource:
    url: jdbc:mysql://localhost:3306/accountsdb
    username: root
    password: root

  jpa:
    show-sql: true

  sql:
    init:
      mode: always

  config:
    import: "optional:configserver:http://localhost:8071"

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

  rabbitmq:
    host: "localhost"
    port: "5672"
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  info:
    env:
      enabled: true
  endpoint:
    shutdown:
      enabled: true
    health:
      probes:
        enabled: true

endpoints:
  shutdown:
    enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: "http://localhost:8072/eureka/"

info:
  app:
    name: "accounts"
    description: "Accounts MicroService"
    version: "1.0.0"

logging:
  level:
    tech:
      miladsadeghi:
        accounts: DEBUG

resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 2
        failure-rate-threshold: 50
        wait-duration-in-open-state:
          seconds: 10
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: 500
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 2
  #        ignore-exceptions:
  #          - java.lang.NullPointerException
  #        retry-exceptions:
  #          - java.util.concurrent.TimeoutException

  ratelimiter:
    configs:
      default:
        timeout-duration: 1000
        limit-refresh-period: 5000
        limit-for-period: 1
