server:
  port: 8080

spring:
  application:
    name: "accounts"

  profiles:
    active: "prod"

  datasource:
    url: jdbc:mysql://localhost:3306/accountsdb
    username: root
    password: root

  jpa:
    show-sql: true

  sql:
    init:
      mode: always

  config:
    import: "optional:configserver:http://localhost:8071"

  rabbitmq:
    host: "localhost"
    port: "5672"
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
  endpoint:
    shutdown:
      enabled: true

endpoints:
  shutdown:
    enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: "http://localhost:8072/eureka/"

info:
  app:
    name: "accounts"
    description: "Accounts MicroService"
    version: "1.0.0"

logging:
  level:
    tech:
      miladsadeghi:
        accounts: DEBUG
